<body>
    <h1>Banshee</h1>
    <p>El banshee es una figura mitológica que forma parte de la tradición folklórica de Irlanda y otras culturas celtas.
        En términos de apariencia, el banshee se describe típicamente como una mujer joven y hermosa, aunque también se la puede representar como una anciana de aspecto fantasmagórico. A menudo viste ropas largas y flotantes, y sus cabellos suelen estar despeinados. Aunque su apariencia puede variar, se cree que sus ojos rojos o hinchados son un signo distintivo de su conexión con el mundo de los espíritus.
    </p>
    <img style="height: 200px;" src="assets/Banshee 2.jpeg" alt="banshee">
    <img style="height: 200px;" src="assets/Banshee 3.jpeg" alt="banshee2">
</body>

<app-head></app-head>
<app-arms></app-arms>
<app-body></app-body>
<app-legs></app-legs>
